@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-brown: #53423e;
  --color-lightBrown: #645550;
  --color-darkBrown: #2c2523;
  --color-black: #1e1917;
  --color-white: #f1e1d9;
  --color-lightCyan: #15d1e9;
  --color-darkCyan: #88e5f0;
  --color-orange: #fb9718;
  --color-lightOrange: #fac27b;
  --color-darkOrange: #d28422;
  --color-gray: #626965;
  --color-lightGray: #978580;
  --color-darkGray: #3f4441;
}
